.navbar {
    background-color: rgb(13, 110, 253, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

#navbarText {
    color: white;
}

.titulo {
    font-size: large;
    color: white;
}

.nav-link {
    text-align: left;
}

.primerboton {
    color: white;
}
